---
layout: base.njk
title: Welcome
---

{%- from "macros.njk" import component -%}

<div class="p-6 text-ma-color font-ma-popo">
    <div class="container">
        {{ component("headings/title", { content: "Bonjour monde" }) }}
    </div>
</div>